<html>
  <head>
    <h4></h4>
  </head>

  <body>
    <div id=content>
      <%= yield %>
    </div>
  </body>

  <p>There are <%= @users.size %> users with a total of <%= count_interests %> interests.</p>
</html>